﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="header.aspx.cs" Inherits="WebApp.App.pages.header" %>

<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo 50x50 pixels -->
        <span class="logo-mini"><b>RBE</b></span>
        <!-- <span class="logo-lg"><b>R</b>ede <b>B</b>em <b>E</b>star</span> -->
        <img src="contents/img/logo-RBE.png" style="max-height: 100px;">
    </a>

    <!-- Botão do Menu -->
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="font-size: 30px; padding: 4px;">
        </a>
    </nav>
    <!-- fim: Botão do Menu -->
</header>
